<h1>Create Employee</h1>

<%= form_tag(admin_create_path, :method=>'post') do %>
 <p>
   Email:<br />
   <%= text_field_tag "email" %>
 </p>
 <p>
   Password:<br />
   <%= text_field_tag "password" %>
 </p>
 <p>
   Password Confirmation:<br />
   <%= text_field_tag "password_confirmation" %>
 </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
